body {
    margin: 0;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkcyan;
}

.container {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 32px;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.input {
    width: 95%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
    font-family: monospace;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    color: darkgreen;
    margin-top: 5px;
}

.input::placeholder{
    color: darkgreen;
}

.note {
    font-size: 1.1rem;
}